Datasets/tuh-eeg-ab-clean/
**/.DS_Store
**/__pycache__/
env_thesis/
venv
Datasets/harvard-eeg-clean/
Datasets/lemon/
code/Results
# Ignore Jupyter temporary files
.ipynb_checkpoints/
*/.ipynb_checkpoints/*